* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f0f1a, #14142b);
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
}

.bg-blur {
    position: fixed;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, #00f5ff, transparent);
    filter: blur(150px);
    top: -100px;
    left: -100px;
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}

.logo {
    font-size: 28px;
    background: linear-gradient(45deg, #00f5ff, #ff00ff);
    -webkit-background-clip: text;
    color: transparent;
}

#clock {
    font-size: 18px;
    opacity: 0.8;
}

.hero {
    text-align: center;
    margin-top: 100px;
    transition: 0.6s ease;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    opacity: 0.7;
    margin-bottom: 20px;
}

.hero button {
    padding: 12px 25px;
    border: none;
    background: linear-gradient(45deg, #00f5ff, #ff00ff);
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.3s ease;
}

.hero button:hover {
    transform: scale(1.1);
}

.dashboard {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
    padding-bottom: 100px;
    transition: 0.6s ease;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
}

.card {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(20px);
    padding: 25px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 0 25px rgba(0,255,255,0.2);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.task-input {
    display: flex;
    margin-bottom: 15px;
}

.task-input input {
    flex: 1;
    padding: 8px;
    border-radius: 10px;
    border: none;
}

.task-input button {
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #00f5ff;
}

ul {
    list-style: none;
}

li {
    padding: 8px;
    margin-bottom: 8px;
    background: rgba(255,255,255,0.08);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

li button {
    background: red;
    border: none;
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
}

.stats {
    text-align: center;
}

.stat span {
    font-size: 36px;
    font-weight: bold;
}
